sudo: 'required'

services:
  - 'docker'

language:
  - 'bash'

env:
  global:
    - NODE_RED_VERSION=x.y.z
    - TARGET=raymondmm/node-red
    - QEMU_VERSION=v3.0.0

before_install:
  - ./.docker/docker.sh prepare

script:
  - . ./update_version.sh
  - ./.docker/docker.sh build
  - ./.docker/docker.sh test

after_success:
  - >
    if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
      # Docker Login
      echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      # Tag all images
      ./.docker/docker.sh tag
      # Push all images
      ./.docker/docker.sh push
      # Create and push manifest list
      ./.docker/docker.sh manifest-list
      # Docker Logout
      docker logout
    fi

# notify me when things fail
notifications:
    email: true
