sudo: required

dist: xenial

services: docker

language: bash

env:
  global:
    - TARGET=nodered/node-red-docker
    - QEMU_VERSION=v4.0.0
    - OS=alpine
    - DOCKER_FILE=Dockerfile.alpine

  matrix:
    ### Node JS 10 ###############################################################################################################
    # Default Images
    - NODE_VERSION=10 TAG_SUFFIX=default QEMU_ARCH=x86_64  ARCH=amd64
    - NODE_VERSION=10 TAG_SUFFIX=default QEMU_ARCH=arm     ARCH=arm32v6
    - NODE_VERSION=10 TAG_SUFFIX=default QEMU_ARCH=arm     ARCH=arm32v7
    - NODE_VERSION=10 TAG_SUFFIX=default QEMU_ARCH=aarch64 ARCH=arm64v8

    # Minimal Images
    - NODE_VERSION=10 TAG_SUFFIX=minimal QEMU_ARCH=x86_64  ARCH=amd64
    - NODE_VERSION=10 TAG_SUFFIX=minimal QEMU_ARCH=arm     ARCH=arm32v6
    - NODE_VERSION=10 TAG_SUFFIX=minimal QEMU_ARCH=arm     ARCH=arm32v7
    - NODE_VERSION=10 TAG_SUFFIX=minimal QEMU_ARCH=aarch64 ARCH=arm64v8

    ### Node JS 12 ###############################################################################################################
    # Default Images
    - NODE_VERSION=12 TAG_SUFFIX=default QEMU_ARCH=x86_64  ARCH=amd64
    - NODE_VERSION=12 TAG_SUFFIX=default QEMU_ARCH=arm     ARCH=arm32v6
    - NODE_VERSION=12 TAG_SUFFIX=default QEMU_ARCH=arm     ARCH=arm32v7
    - NODE_VERSION=12 TAG_SUFFIX=default QEMU_ARCH=aarch64 ARCH=arm64v8

    # Minimal Images
    - NODE_VERSION=12 TAG_SUFFIX=minimal QEMU_ARCH=x86_64  ARCH=amd64
    - NODE_VERSION=12 TAG_SUFFIX=minimal QEMU_ARCH=arm     ARCH=arm32v6
    - NODE_VERSION=12 TAG_SUFFIX=minimal QEMU_ARCH=arm     ARCH=arm32v7
    - NODE_VERSION=12 TAG_SUFFIX=minimal QEMU_ARCH=aarch64 ARCH=arm64v8

before_install:
  - ./.docker/docker.sh prepare

install: true

before_script:
  # Set BUILD_VERSION
  - >
    if [ ! -z "${TRAVIS_TAG}" ]; then
      export BUILD_VERSION=${TRAVIS_TAG:1};
    else      export BUILD_VERSION=beta;
    fi

  # Set NODE_RED_VERSION
  - >
    export NODE_RED_VERSION=$(grep -Eo "\"node-red\": \"(\w*.\w*.\w*)" package.json | cut -d\" -f4)

script:
  # Build Docker image
  - ./.docker/docker.sh build

  # Test Docker image
  - ./.docker/docker.sh test

  # Push Docker image, ony if TRAVIS_TAG is set
  - >
    if [ ! -z "${TRAVIS_TAG}" ]; then
      # Tag Docker image
      ./.docker/docker.sh tag

      # Docker Login
      echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin

      # Push Docker image
      ./.docker/docker.sh push

      # Docker Logout
      docker logout
    fi

jobs:
    include:
        - stage: manifest
          # Only create and push manifest list to Docker Hub, when tag starts with a `v`, eg. v0.20.8
          if: tag =~ ^v
          script:

              # Create and push Docker manifest lists
              # The push order is displayed in reverse order on Docker Hub

              # Docker Login
              - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

              # Create and push manifest list `version` for minimal
              - ./.docker/docker.sh manifest-list-version "12" "minimal"
              - ./.docker/docker.sh manifest-list-version "10" "minimal"
              - ./.docker/docker.sh manifest-list-version "" "minimal"

              # Create and push manifest list `version` for default
              - ./.docker/docker.sh manifest-list-version "12" "default"
              - ./.docker/docker.sh manifest-list-version "10" "default"
              - ./.docker/docker.sh manifest-list-version "" "default"

              # Create and push manifest list 'latest' or 'testing' for minimal
              - ./.docker/docker.sh manifest-list-test-beta-latest "12" "minimal"
              - ./.docker/docker.sh manifest-list-test-beta-latest "10" "minimal"
              - ./.docker/docker.sh manifest-list-test-beta-latest "" "minimal"

              # Create and push manifest list 'latest' or 'testing' for default
              - ./.docker/docker.sh manifest-list-test-beta-latest "12" "default"
              - ./.docker/docker.sh manifest-list-test-beta-latest "10" "default"
              - ./.docker/docker.sh manifest-list-test-beta-latest "" "default"

              # Docker Logout
              - docker logout

# notify me when things fail
notifications:
  email: true
